<?xml version='1.0' encoding='utf-8'?>
<widget id="watisgrass.vercel.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WATIsGrass</name>
    <description>A helpful guide to navigate UW's bridges and tunnels! Just enter a start and end location and it will calculate the shortest possible indoor route for you.</description>
    <author href="http://watisgrass.vercel.app/">
        Manasva Katyal, Ricky Qin
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- App Icon -->
    <icon src="resources/icons/icon-circle.png" />
    
    <platform name="android">
        <!-- Android App Splash Screen -->
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="1000" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/screens/android/splash.png" />
    </platform>
</widget>
